/**
 * Contact
 */

#googleMap {
  background: #eee;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

#googleMap #googcontainer {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contactContent {
  border-bottom: 65px solid $green;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  bottom: 0;

  @media screen and (max-width: 1000px) {
    left: 0;
    width: 100%;
  }

  .scaleit {
    opacity: 0;
  }

  a {
    background: none;
    color: #fff;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border 250ms ease;
  }

  a:hover {
    border-bottom-color: #fff;
  }

  h2 {
    font-weight: 600;
    white-space: nowrap;
  }

}

.contactAddress {
  background: $black;
  color: #fff;
  padding: 40px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50%;
  text-align: center;
}

.contactPhone {
  background: $green;
  color: #fff;
  padding: 40px;
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}