/**
 * Home
 */

.intro {
  margin: 65px auto 80px;
  padding: 0 10%;
  max-width: 900px;
  text-align: center;
}

.work {
  clear: both;
  background: $black;
  margin: 0 -10px 67px;
  text-align: center;
  padding: 0;
}

/**
 * Scattered thumbnails
 */

body.debugGrid .thumb {
  outline: 1px solid red;
}

.homeTitle {
  @include safe-rem('font-size', $font-size * 4);
  @include safe-rem('line-height', $font-size * 4);
  // background: rgba(33, 33, 33, 0.8);
  display: block;
  font-weight: bold;
  position: fixed;
  padding: 0.5em 0.6em;
  top: 50%;
  left: 50%;
  color: #fff;
  white-space: nowrap;
  z-index: 9;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: opacity 250ms ease;
  opacity: 0;
  margin-top: -32px;

  &.active { opacity: 1 }
}

.thumbnailsScattered {
  display: block;
  position: relative;

  .thumb {
    @include safe-rem('font-size', $font-size);
    @include safe-rem('line-height', $line-height);
    overflow: hidden;
    height: 0;
    position: relative;
    // margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;

    a {
      border: 5px solid rgba(255, 255, 255, 0);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      transition: border 500ms ease;
    }

    &:not(.blank) {
      cursor: pointer;
    }

    &.loaded:not(.blank):hover {
      a { border-color: rgba(255, 255, 255, 0.5) }
      .image.color {
        opacity: 1;
      }
    }

    &.black { background: $black }
    &.green { background: $green }
    &.grey  { background: $grey }

    .image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity 250ms ease;
      opacity: 0;

      &.color {
        z-index: 2;
      }
    }

    &.loaded .grey.image  { opacity: 0.3 }
    &.loaded .color.image { opacity: 0 }

    &.nocolor.loaded .image.color { opacity: 1 }

  }

}

.six .thumb .img {
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
}

/**
 * Slideshow
 */

.slideshowHomeTitle {
  // @include safe-rem('font-size', $font-size * 1.3);
  // @include safe-rem('line-height', $line-height * 1.3);
  background: #eee;
  line-height: 68px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 66;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  a {
    background: #fff;
    color: $black;
    font-weight: 600;
    padding: 6px 5px 4px 5px;
    text-decoration: none;

    &:hover {
      background: $green;
      color: #fff;
    }
  }
}

.slideshowHome {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .slick-prev,
  .slick-next {
    padding: 0 40px;
    width: 11.5%;

    &:before {
      color: rgba(100, 100, 100, 0.3);
      transition: color 250ms ease;
    }

    &:hover:before {
      color: $green;
    }

  }

  .slick-next {
    right: 0;
    text-align: right;
  }

  .slick-prev {
    left: 0;
    text-align: left;
  }

  .slick-slide {
    // height: 700px;
    transform: scale(0.75);
  }

  .slick-dots {
    bottom: 0;
    li { opacity: 0 }
  }

  .img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    height: 100%;
    position: relative;
    width: 100%;

    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    
  }

}