// Reset
@include reset();

// Grid
$columnWidth      : 65px;
$columnGutter     : 10px;
$columnTotalWidth : $columnWidth + $columnGutter;

// Type
$font-size   : 14;
$line-height : 22;

// Color
$black : #212121;
$green : #34CFA1;
$grey  : #666;

html, body {
  overflow-x: hidden;
  width: 100%;
  min-width: 400px;
  -webkit-text-size-adjust: none;
}

body {
  background: #eee;
  color: $black;
  @include safe-rem('font-size', $font-size);
  @include safe-rem('line-height', $line-height);
  font-family: 'Graphik Web', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html.hideScroll {
  overflow: hidden !important;
}

/**
 * Logo
 */

#logo {
  cursor: pointer;
  height: 350px;
  width: 500px;
  overflow: hidden;
  left: -140px;
  top: -145px;
  position: fixed;
  z-index: 999;
  // overflow: hidden;

  a.indexLink {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
  }

  svg {
     height: 500px;
     width: 500px;
  }

  path {
    transition: fill 500ms ease
  }

  &.white path {
    fill: #fff;
  }

  .expanded {
    opacity: 0;
    transition: opacity 500ms ease;
  }

  &:hover .expanded {
    opacity: 1;
  }

  @media screen and (max-width: 800px) {
    height: 200px;
    width: 300px;
    top: -80px;
    left: -80px;

    svg {
      width: 300px;
      height: 300px;
    }
  }

}

.mtlaFull {
  background-image: url(/static/svg/mtlaFull.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 323px;
  width: 663px;
}

/**
 * Contents
 */

#content {

}

/**
 * Grid
 */

.container {
  position      : relative;
  margin        : 0 auto;
  padding-left  : 10px;
  padding-right : 10px;
  width         : 1040px;

  // Goofy inline-block fix
  font-size : 0;

  > * { 
    display: inline-block;
  }
}

.column {
  @include safe-rem('font-size', $font-size);
  display        : inline-block;
  margin-left    : $columnGutter;
  margin-right   : $columnGutter;
  position       : relative;
  vertical-align : top;
}

// Column widths
.one    { width: 82px  }
.two    { width: $columnTotalWidth * 2 }
.three  { width: $columnTotalWidth * 3 + $columnGutter }
.four   { width: $columnTotalWidth * 4 + ($columnGutter * 2) }
.five   { width: $columnTotalWidth * 5 + ($columnGutter * 3) }
.six    { width: $columnTotalWidth * 6 + ($columnGutter * 4) }
.seven  { width: $columnTotalWidth * 7 + ($columnGutter * 5) }
.eight  { width: $columnTotalWidth * 8 + ($columnGutter * 6) }
.nine   { width: $columnTotalWidth * 9 + ($columnGutter * 7) }
.ten    { width: $columnTotalWidth * 10 + ($columnGutter * 8) }
.eleven { width: $columnTotalWidth * 11 + ($columnGutter * 9) }
.twelve { width: 1204px }

// Vertical align
.alignTop    { vertical-align: top }
.alignBottom { vertical-align: bottom }
.alignMiddle { vertical-align: middle }

// Positioning
.blockCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**
 * Misc
 */

footer {
  display: none;
}

/**
 * Typography
 */

h2 {
  @include safe-rem('font-size', $font-size * 1.8);
  @include safe-rem('line-height', $line-height * 1.5);
  text-rendering: optimizeLegibility;
}


b, strong {
  font-weight: 600;
}

.column p a,
.column h2 a {
  background: #fff;
  color: $black;
  transition: background 75ms ease, color 100ms ease;

  &:hover {
    background: $green;
    color: #fff;
  }
}

.column h2 a {
  padding: 0 4px 1px;
  margin: 0 -4px;
}

p {
  @include safe-rem('margin-bottom', $line-height);
  &:last-child { margin-bottom: 0 }
}

p a {
  color: $green;
}

p a:hover {
  text-decoration: underline;
}

/**
 * Misc
 */

#error {
  color: #f33;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}