/**
 * Intro
 */

#introLogos {
  cursor: pointer;
  position: fixed;
  margin: -500px 0 0 -500px;
  top: 50%;
  left: 50%;
  z-index: 100;
  backface-visibility: hidden;
  transform-origin: 500px 500px;

  > * {
    position: absolute;
    top: 0;
    left: 0;
  }

  .condensed path {
    opacity: 0;
  }

  .condensed {

  }

  .expanded svg {
    height: 1000px;
    width: 1000px;
  }

}


.mtlaExpandedIntro  g {
  display: block;
  fill: #fff;
}

#intro {
  background-image: url(../static/images/pool.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 99;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
  }
}

#introBackground {
  background: rgb(52, 207, 161);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}