@keyframes expand {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}

$loader-size: 40px;

.loadingContainer {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 (-$loader-size/2);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 6px #fff;
  height: $loader-size;
  width: $loader-size;
  z-index: 99999;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    margin: (-$loader-size/2) 0 0 (-$loader-size/2);
    border-radius: 50%;
    z-index: 2;
    height: $loader-size;
    width: $loader-size;
  }

  &:before {
    background-color: $green;
    animation: expand 1.6s linear infinite both;
  }

  &:after {
    background-color: #fff;
    animation: expand 1.6s linear 0.8s infinite both;
  }
}