/**
 * Navigation
 */

#navigation {
  display: none;
  border-bottom: 5px solid $green;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 109;

  @media screen and (max-width: 1000px) {
    // border-bottom: 15px solid $green;
  }

  .links {
    
    a {
      color: $black;
      text-decoration: none;
      margin-left: 15px;
      margin-bottom: -5px;
      display: inline-block;
      line-height: 62px;
      border-bottom: 5px solid #34CFA1;
      -webkit-transition: color 250ms ease, border 250ms ease;
    }

    a:hover,
    a.active {
      border-bottom-color: $black;
    }

  }

  input.searchTerm {
    @include safe-rem('font-size', $font-size);
    @include safe-rem('line-height', $line-height);
    background: transparent;
    font-family: 'Graphik', arial, sans-serif;
    border: 0;
    color: $black;
    line-height: 18px; 
    padding: 20px 0;
    text-align: left;
    float: left;
    width: 20%;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {  
       color: #999;  
    }

    &:focus {
      outline: 0;
    }

  }

  @media screen and (max-width: 800px) {
    input { display: none }
  }

}

.searchResults {
  background: rgba(31, 31, 31, 0.95);
  display: none;
  outline: 1px solid rgba(255, 255, 255, 0.13);
  text-align: left;
  position: absolute;
  bottom: 62px;
  left: 0;

  a.result {
    @include safe-rem('line-height', $line-height - 3);
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 10px 20px;
    position: relative;
    height: 60px;
    transition: background 250ms ease, border 250ms ease;

    &:hover {
      background: $green;
      border-bottom-color: $green;
      .tags { opacity: 1 }
    }

  }

  .thumb {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
  }

  .title {
    color: #fff;
    display: block;
    margin-left: 60px;
  }

  .tags {
    color: #fff;
    font-weight: normal;
    margin-left: 60px;
    opacity: 0.3;
    text-transform: uppercase;
    transition: opacity 250ms ease;
    @include safe-rem('font-size', 11);
    @include safe-rem('line-height', $font-size * 0.75);
  }

  .noresults {
    color: #fff;
    padding: 20px 40px;
  }

  .tag {

    color: #666;

    .tagtext {
      cursor: pointer;
      color: #999;
      transition: color 150ms ease;
      &:hover { color: #fff }
    }

    &:not(:last-child):after {
      content: ', ';
    }
  }

}

#filterScreen {
  background: rgba(80, 80, 80, 0.8);
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  opacity: 0;
  z-index: 100;
}

#filterContainer {
  display: none;
  font-size: 0;
  background: #34D1A1;
  padding: 55px 65px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;

  .filterClose {
    @include safe-rem('font-size', 50);
    @include safe-rem('line-height', 40);
    color: #fff;
    display: block;
    cursor: pointer;
    position: absolute;
    padding: 10px 20px;
    top: 0;
    right: 0;
    transform: scale(0.8);
    transition: transform 250ms ease;
  }

  .filterClose:hover {
    transform: scale(1);
  }

  .filterTitle {
    @include safe-rem('font-size', 18);
    display: block;
    color: #fff;
    font-weight: 600;
    margin: 1em 0;
    text-decoration: none;
    text-transform: capitalize;
  }

  .collectionsTitle {
    margin-top: 2em;
  }

  a {
    @include safe-rem('font-size', 18);
    display: inline-block;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }

  a span {
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    transition: border 250ms ease;
  }

  a:hover span {
    border-bottom-color: #fff;
  }

  .filterTypes a:not(:last-child):after {
    content: ', ';
    margin-right: 15px;
  }

}

.links {
  background: rgba(255, 255, 255, 0.95);
  text-align: right;
  font-weight: 600;
  padding: 0 60px;
  margin: 0;
  position: relative;
  z-index: 9;
}

.filter {
  position: absolute;
  left: 40%;
  // text-align: left;
  // float: left;
  width: 20%;
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 800px) {

  .filter {
    left: 30px;
    width: auto;
    margin: 0;
  }

  .links {
    padding: 0 30px;
  }

}

#navigation .filter a {
  color: $black;
  margin-left: 0;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 5px 7px;
    border-color: transparent transparent $green transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    transition: border 500ms ease;
  }

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 7px 0 7px;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    transition: border 500ms ease;
  }

  &:hover,
  &.active {
    color: #34CFA1;
    border-bottom-color: #34CFA1;
  }

  &.active:after { 
    border-color: transparent transparent transparent transparent;
  }

  &.active:before {
    border-color: #fff transparent transparent transparent;
  }

}
