.pressContainer {
  // max-width: 600px;
  padding: 1px;
  margin-bottom: 67px;
  vertical-align: top;
  font-size: 0;
  width: 100%;

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  .pressBox {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    @include safe-rem('font-size', $font-size);
    @include safe-rem('line-height', $line-height);

  }

  .pressBlock {
    background: #fff;
    margin: 1px;
    padding-bottom: 100%;
    height: 0;
    position: relative;
  }

  .pressTitle {
    @include safe-rem('font-size', $font-size * 1.2);
    @include safe-rem('line-height', $line-height);
    color: #000;
  }

  .pressPub {
    color: #999;
    @include safe-rem('line-height', $line-height);
  }

  .pressTags {
    margin-top: 1em;
    color: #999;
  }

  .pressThumb {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    img {
      display: none;
      position: absolute;
      top: 15%;
      left: 15%;
      bottom: 15%;
      right: 15%;
      max-width: 70%;
      max-height: 70%;
      margin: auto;
    }

    img:first-child {
      display: block;
    }

    .excerpt {
      margin-bottom: 15px;
    }

  }

}

.pressMag {
  background: url(/static/images/mag.png) no-repeat center;
  background-size: 20px;
  position: absolute;
  padding: 15px;
  top: -21px;
  right: 50%;
  margin-right: -15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: none;
  z-index: 2;
}

.pressBox:hover .pressMag {
  display: block;
}

.pressTagNav {
  // max-width: 600px;
  font-size: 0;
  padding: 0 60px 180px;
  vertical-align: top;
  @include calc(width, "100% - 150px");

  h4 {
    color: #000;
    font-weight: bold;
    @include safe-rem('font-size', $font-size * 1.2);
    @include safe-rem('line-height', $line-height);
    margin-bottom: 1em;
  }

}

.pressLinkTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 15px;
  transform: translate(-50%, -50%);
}

/**
 * Solo
 */

.publication-container {
  
}

.publication-text {
  padding: 240px 0 160px 60px;
  width: 33.3%;
}

.publication-images {
  position: fixed;
  margin-bottom: 70px;
  top: 5%;
  right: 5%;
  bottom: 5%;
  width: 56.6%;
}

.publication-image {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.publication-image:first-child {
  display: flex;
}

.publication-image img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .publication-text {
    padding: 0 0 140px 0;
    margin: 0 auto;
    width: 75%;
  }
  .publication-images {
    position: relative;
    margin-top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
  }
}