/**
 * Project
 */

.informationProject {
  @include safe-rem('font-size', $font-size * 1.85);
  @include safe-rem('line-height', $font-size * 3.7);
  opacity: 0;
  color: #666;
  cursor: pointer;
  transition: color 150ms ease;
  position: fixed;
  top: 10px;
  right: 20px;
  text-rendering: optimizeLegibility;
  z-index: 99;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover { color: #fff; }
}

#slideshowProject {
  background: $black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .slide {
    position: relative;

    &:not(.imgLoaded) {

    }

  }

  img {
    pointer-events: none;
    padding: 65px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .slick-next,
  .slick-prev {
    width: 50%;
    opacity: 0;
    line-height: 0px;
    padding: 0 40px;
    z-index: 19;

    &:before {
      display: inline-block;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.3);
      transition: color 250ms ease;
    }

    &:hover:before {
      color: rgba(38, 210, 160, 1);
    }

  }

  .slick-next {
    right: 0;
    text-align: right;
  }

  .slick-prev {
    left: 0;
    text-align: left;

    &:before {
      transform: rotate(180deg);
    }
  }

  .slick-dots {
    text-align: center;
    top: auto;
    bottom: 25px;

    li {
      opacity: 0;
      button:before { color: #555 }
      button:hover:before { color: #fff }
      &.slick-active button:before { color: $green }
    }

  }

}

@media screen and (max-width: 1000px) {
  
  .slick-next, .slick-prev {
    display: none !important;
  }

  .projectPrev, .projectNext {
    display: none !important;
  }

}

#contentProject {
  display: none;
  cursor: pointer;
  opacity: 0;
  background: rgba(255, 255, 255, 0.92);
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-overflow-scrolling: touch;

  .meta {
    cursor: default;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 580px;
    transform: translate(-50%, -50%);

    @media screen and (max-height: 800px) {
      transform: none;
      position: relative;
      top: auto;
      left: auto;
      margin: 210px auto 150px;
    }

    h2 {
      margin-bottom: 1em;
      font-weight: 600;
    }

    @media screen and (max-width: 1000px) {
      padding: 0 10%;
      width: 100%;
    }

  }

  .closeContent {
    @include safe-rem('font-size', 80);
    @include safe-rem('line-height', 60);
    color: #212121;
    display: block;
    cursor: pointer;
    position: fixed;
    padding: 20px 30px;
    top: 10%;
    right: 10%;
    transform: scale(0.8);
    transition: transform 250ms ease;

    @media screen and (max-width: 900px) {
      top: 0;
      right: 0;
    }

  }

  .closeContent:hover {
    transform: scale(1);
  }

  .partners {
    color: $grey;
    font-size: 0.9em;
  }

  .projectNavigation {
    position: fixed;
    bottom: 67px;
    left: 40px;
    right: 40px;

    a {
      color: #000;
      display: block;
      padding: 20px;
      position: relative;

      &:before {
        color: #aaa;
        content: '\279c';
        display: block;
        position: absolute;
        top: 20px;
        transition: 250ms ease color; 
      }

      &:hover:before {
        color: $green;
      }
    }

    .projectNext {
      float: right;

      a:before { 
        right: -15px;
      }
    }

    .projectPrev {
      float: left;

      a:before { 
        left: -15px;
        transform: rotate(180deg);
      }
    }
  }

  h3 {
    // font-weight: 600;
    color: $grey;
    font-size: 1.25em;
    margin: 1em 0 0.5em;
  }

}