/**
 * Studio
 */

#studio {
  margin: 0 auto;
  padding: 150px 15% 100px;
  max-width: 1200px;

  h2 {
    text-align: center;
  }
}

.studioStatement {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0 auto 10%;
  padding: 0 5%;
  max-width: 720px;
  width: 100%;
}

#cards {
  $padding : 30px;
  padding: 100px 4% 100px;
  font-size: 0;
  max-width: 1200px;
  margin: 0 auto;

  .individual {
    display: inline-block;
    vertical-align: top;
    padding: 2.5% 2.5% 7.5%;
    min-width: 360px;
    width: 100%;

    &:after {
      clear: both;
      display: block;
    }
  }

  .individualName {
    @include safe-rem('font-size', $font-size * 3);
    @include safe-rem('line-height', $font-size * 3);
    color: $green;
    margin-bottom: 5%;
    font-weight: 600;
  }

  .cardContainer {
    top: 0;
    float: left;
    width: 50%;
  }

  .biography {
    @include safe-rem('font-size', $font-size);
    @include safe-rem('line-height', $line-height);
    padding: 0 5%;
    float: right;
    width: 50%;
  }

  .individual:nth-child(even) {
    .cardContainer { float: right }
    .biography { float: left }
  }

  .card {
    background: #fff;
    color: $grey;
    text-align: left;
    font-weight: 600;
    height: 0;
    padding-bottom: 51.8367347%;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
    backface-visibility:hidden;
    transition: transform 500ms ease, box-shadow 500ms ease;

    &:hover {
      // transform: scale(1.05);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }

    a {
      color: $grey; 
      transition: color 150ms ease; 
    }

    a:hover { color: $green }

    .name {
      position: absolute;
      top: $padding - 4;
      left: $padding;
    }

    .address {
      position: absolute;
      top: $padding - 4;
      right: $padding;

      a { display: inline-block }
    }

    .contact {
      position: absolute;
      bottom: $padding - 4;
      right: $padding;
      transform-origin: bottom left;
      transform: rotate(-90deg) translateY(11em);
    }

    .contactLable {
      color: $green;
    }

    svg {
      position: absolute;
      bottom: $padding;
      left: $padding;
      height: 76px;
      width: 166px;
      g { fill : $green }
    }
  }

  @media screen and (max-width: 800px) {
    .cardContainer, .biography {
      float: none;
      width: 100%;
    }

    .biography { 
      margin-top: 10%;
    }
  

  }

}

.instagrams {
  margin: 0 -5px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

}

.instagram-photo {
  overflow: hidden;
  float: left;
  width: 20%;

  a {
    display: block;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
    position: relative;

    &:hover img {
      outline: 20px solid $green;
      outline-offset: -20px;
    }
  }

  img {
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

#credit {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0 auto 150px;
  padding: 0 5%;
  max-width: 720px;
  text-align: center;
  width: 100%;

  a {
    color: $green;
    font-weight: bold;
  }

  a:hover { 
    color: #000;
  }
  
}