/*
        This font software is the property of Commercial Type.

        You may not modify the font software, use it on another website, or install it on a computer.

        License information is available at http://commercialtype.com/eula
        For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

        Copyright (C) 2013 Schwartzco Inc.
        License: 1408-GKZDFP     
*/


@font-face {
  font-family: 'Graphik Web';
  src: url('/static/fonts/Graphik-Regular-Web.eot');
  src: url('/static/fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Graphik-Regular-Web.woff') format('woff'),
     url('/static/fonts/Graphik-Regular-Web.ttf') format('truetype'),
     url('/static/fonts/Graphik-Regular-Web.svg#Graphik Web') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.Graphik-Regular-Web {
  font-family: 'Graphik Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Graphik Web';
  src: url('/static/fonts/Graphik-Semibold-Web.eot');
  src: url('/static/fonts/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Graphik-Semibold-Web.woff') format('woff'),
     url('/static/fonts/Graphik-Semibold-Web.ttf') format('truetype'),
     url('/static/fonts/Graphik-Semibold-Web.svg#Graphik Web') format('svg');
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}

.Graphik-Semibold-Web {
  font-family: 'Graphik Web';
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}

