.updatesContainer {
  padding: 0 50px;
  margin: 200px auto 200px;
  width: 75%;
  max-width: 600px;
  min-width: 400px;

  .update {
    margin-bottom: 100px;
    
    .tags {
      margin-bottom: 2em;
      color: #999;

      span:not(:last-child):after {
        content : ', '
      }

      a {
        color: #999;
        padding-bottom: 3px;
      }

      a:hover {
        color: #000;
        border-bottom: 1px solid #000;
      }
    }

    h2 {
      font-weight: 600;

      a {
        color: #000;
      }
    }

    img {
      height: auto;
      width: 100%;
    }

  }

}

.updatesTags {
  left: 25px;
  position: fixed;
  top: 50%;
  text-transform: capitalize;
  transform: translateY(-50%);
  z-index: 9;

  a {
    display: block;
    color: #999;
  }

  a:hover {
    color: #000;
  }

  a.active {
    color: #34CFA1;
  }

}