/**
 * Work
 */
.workFilter {
  @include safe-rem('font-size', $font-size * 1.85);
  @include safe-rem('line-height', $font-size * 3.7);
  font-weight: 600;
  position: fixed;
  top: 10px;
  right: 20px;
  letter-spacing: -1px;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  z-index: 9;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  a { color: $black; transition: color 150ms ease; }
  a:hover { color: $green }
}

#contentWork {
  padding: 200px 5% 60px;
  font-size: 0;

  @media (max-width: 800px) {
    padding-top: 120px;
  }

  .thumbWork {
    @include safe-rem('font-size', $font-size);
    @include safe-rem('line-height', $line-height);
    margin-bottom: 10%;
    padding: 0 2.5%;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    &.loading .thumbImg {
      background-image: url(/static/images/tinyLoad.gif);
    }

    .thumbImg {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 10px;
      height: 0;
      padding-bottom: 100%;
      width: 100%;
      margin-bottom: 10%;
      position: relative;

      img {
        background: #fff;
        pointer-events: none;
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin:auto;
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
      }

    }

  }

  a {
    transition: color 150ms ease;
  }

  a.title {
    @include safe-rem('font-size', $font-size * 1.2);
    @include safe-rem('line-height', $line-height);
    display: block;
    color: $black;
    font-weight: 600;

    &:hover {
      color: $green;
    }
  }

  .tags {
    color: #999;
    span:not(:last-child):after { content: ', ' }
    a { color: #999 }
    a:hover { color: $black }
  }
  
}